*{
    background-color: skyblue;
}
.navbar:hover{
    
}
#lp-pom-box-17 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 7px;
    border-color: #1E3264;
    border-radius: 210px;
    left: 10px;
    top: 20px;
    z-index: 65;
    width: 16px;
    height: 16px;
    position: absolute;
}
#lp-pom-box-17-color-overlay {
    position: absolute;
    background: none;
    border-radius: 203px;
    height: 16px;
    width: 16px;
}
.nav-home{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 50px; 
    margin-top: 18px; 
}
.nav-news{
    display: inline-block;
    width: 100px;
    text-align: center;
    
    margin-left: 40px;
}
.nav-about{
    display: inline-block;
    width: 100px;
    text-align: center;
    
    margin-left: 40px;
}
.nav-contact{
    display: inline-block;
    width: 100px;
    text-align: center;
    
    margin-left: 40px;
}
.heading{
    text-align: center;
    margin-top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
    text-align: center;
    width: 400px;
    margin-left: 535px;
}

img {

    max-width: 32%;
    height: auto;
    margin: 6px;
    
    }
/* .images{
    display: inline-block;
}
.img-1{
    display: inline-block;
    width: 100px;
}
.img-2{
    display: inline-block;
    width: 100px;
}
.img-3{
    display: inline-block;
    width: 100px;
} */